<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/userbase::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Show Contacts</title>
</head>
<body>
    <section>
	     <div class="card mr-3 ml-3">
	     
	      
	     <div class="card-body">
	     
	     <!-- Adding Message alert -->
	                   <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                        <p class="text-center" th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                        </div>
	     
	         
	        <h2 class="text-center">Your Contacts</h2>
	        
	
	   <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Sl. No</th>
      <th scope="col">Name (Nick Name)</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  
    <tr th:each="c:${contacts}">
      <th scope="row" th:text="'SCM2020'+'-'+${c.contact_id}"></th>
      <td>
      
      <img  src="" class="my_profile_picture" th:src="@{'/img/'+${c.contact_imageurl}}" alt="profile photo" />
      <span th:text="${c.contact_name}+' '+'('+${c.contact_nickname}+')'"></span>
      
      </td>
      <td th:text="${c.contact_email}"></td>
      <td th:text="${c.contact_mobno}"></td>
      <td>
         <a th:href="@{'/user/'+${c.contact_id}+'/contact/'}"  href="#" class="btn btn-success btn-sm active" role="button" aria-pressed="true">View Profile</a>
         <a th:href="@{'/user/'+${c.contact_id}+'/contact/'}"  href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Update</a>
         <a th:attr="onclick=|deletecontact(${c.contact_id})|" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
	      
	      
	 <!-- Most Important Concepts-->       
	       <!-- Pagenation Implemented -->
	       
 <nav aria-label="Page navigation example">
 
  <ul class="pagination justify-content-center">
  
    <li th:if="${currentpage != 0}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentpage-1}}" class="page-link" href="#">Previous</a></li>
    
    <li th:classappend="${currentpage==i-1?'active':''}"  th:each="i : ${#numbers.sequence(1,totalpages)}"   class="page-item"><a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
    
    <li th:if="${currentpage+1 != totalpages}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentpage+1}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>
	        
	     </div>
	     
	    </div>
	</section>
</body>
</html>