<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/userbase::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>UserDash Board</title>
</head>
<body>
    <section>
	    
        <section>
    <div class="container">
	      <div class="card mr-3 ml-3">
	        <div class="card-body">
	        
	        
	        <!-- Adding Message alert -->
	                   <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                        <p class="text-center" th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                        </div>
	        
	        
	        <h1 class="text-center">Update Your Contacts</h1>
	            
	            <div class="container-fluid mt-1">
	                    <div class="row">
	                           <div class="col-md-10 offset-md-1">
	                           
	                           
 <form novalidate action="#" th:action="@{/user/process-updatecontact/}" enctype="multipart/form-data" method="POST" th:object="${contact}" class="mt-2">
	                           
	                           <!-- contact_name filed -->
	                           <!--  
	                           <div class="input-group">
	                              <div class="input-group-prepend">
	                              
	                                 <div class="input-group-text"></div>
	                                      <i class="fa fa-plus"></i>
	                              </div>
	                           
	                              <input type="text" id="contact_name" name="contact_name" placeholder="Enter Contact Name" class="form-control"/>
	                         </div>
	       
	                           -->
	                           
	     <!-- Hidden Id fiels -->                      
	                           
	      <input type="hidden"  th:value="${contact.contact_id}" name="contact_id">                     
	      
	                           
	                           <!-- contact_name -->
	                           
	    <div class="col-auto">
           <label class="sr-only" for="inlineFormInputGroup">contact_name</label>
               <div class="input-group mb-2">
                    <div class="input-group-prepend">
                          <div class="input-group-text">
                                <i class="fas fa-plus-square"></i>
                          </div>
                      
                   
                  </div>
                              
            <input type="text" class="form-control" id="contactname_field" name="contact_name" th:classappend="${#fields.hasErrors('contact_name') ? 'is-invalid':''}" placeholder="enter contact name" required="required" th:value="${contact.contact_name}">
          
            <div class="invalid-feedback" th:each="e : ${#fields.errors('contact_name')}" th:text="${e}">
                   
           </div>
          
      </div>
      
     
    </div>
    
  
    
            <!-- contact_nickname -->
    
	    <div class="col-auto">
           <label class="sr-only" for="inlineFormInputGroup">contact_nickname</label>
               <div class="input-group mb-2">
                    <div class="input-group-prepend">
                          <div class="input-group-text">
                           <i class="fas fa-plus-circle"></i>
                          </div>
        </div>
        <input type="text" class="form-control" id="contactnickname_field" name="contact_nickname" th:classappend="${#fields.hasErrors('contact_nickname') ? 'is-invalid':''}" placeholder="enter contact nick name" required="required" th:value="${contact.contact_nickname}">
        
         <div class="invalid-feedback" th:each="e : ${#fields.errors('contact_nickname')}" th:text="${e}">
                   
                  </div>
        
        
      </div>
    </div>
    
    <!-- work -->
    
	    <div class="col-auto">
           <label class="sr-only" for="inlineFormInputGroup">work</label>
               <div class="input-group mb-2">
                    <div class="input-group-prepend">
                          <div class="input-group-text">
                          <i class="fas fa-briefcase"></i>
                          </div>
        </div>
        <input type="text" class="form-control" id="work_field" name="work" placeholder="enter contact profession (Optional)" th:value="${contact.work}">
      </div>
    </div>
    
      <!-- contact_email -->
	                           
	    <div class="col-auto">
           <label class="sr-only" for="inlineFormInputGroup">contact_email</label>
               <div class="input-group mb-2">
                    <div class="input-group-prepend">
                          <div class="input-group-text">
                          <i class="fas fa-at"></i>
                          </div>
        </div>
        <input type="email" class="form-control" id="contactemail_field" name="contact_email" th:classappend="${#fields.hasErrors('contact_email') ? 'is-invalid':''}" placeholder="enter contact email" required="required"  th:value="${contact.contact_email}">
        
        <div class="invalid-feedback" th:each="e : ${#fields.errors('contact_email')}" th:text="${e}">
                   
        </div>
        
      </div>
    </div>
    
    
    <!-- contact_mobno -->
    
	    <div class="col-auto">
           <label class="sr-only" for="inlineFormInputGroup">contact_mobno</label>
               <div class="input-group mb-2">
                    <div class="input-group-prepend">
                          <div class="input-group-text">
                          <i class="fas fa-mobile-alt"></i>
                          </div>
        </div>
        <input type="text" class="form-control" id="contactmobno_field" name="contact_mobno"  th:classappend="${#fields.hasErrors('contact_mobno') ? 'is-invalid':''}" placeholder="enter contact mob no" required="required" th:value="${contact.contact_mobno}">
        
         <div class="invalid-feedback" th:each="e : ${#fields.errors('contact_mobno')}" th:text="${e}">
                   
        </div>
        
      </div>
      
      
    </div>
    
    <!-- contact_description -->
    
	    <div class="col-auto">
           <label class="sr-only" for="inlineFormInputGroup">contact_description</label>
               <div class="input-group mb-2">
                    <div class="input-group-prepend">
                          <div class="input-group-text">
                         <i class="fas fa-info-circle"></i>
                          </div>
        </div>
        <textarea class="form-control" id="contactdescription_field" rows="7" name="contact_description" placeholder="enter short contact info here (Optional)" th:text="${contact.contact_description}"></textarea>
      </div>
    </div>
    
    
    <!-- contact_imageurl -->
    
	    <div class="col-auto">
           <label class="sr-only" for="inlineFormInputGroup">contact_imageurl</label>
               <div class="input-group mb-2">
                    <div class="input-group-prepend">
                          <div class="input-group-text">
                         <i class="fas fa-file-upload"></i>
                          </div>
        </div>
        
        <div class="container text-center">
             <img class="img-fluid my_profile_picture "src="" style="height:100px; width: 100px" th:src="@{'/img/'+${contact.contact_imageurl}}" alt="contact_imageurl">
        </div>
        
        <input type="file" class="form-control" name="profileimage" placeholder="uplaod image" required="required"/>
      </div>
    </div>
	          <br>                 
	                  <div class="container text-center">
	                  
	                  <button type="submit" class="btn bg-primary btn-block text-white">Update Contacts</button>
	                  
	                  </div>                           
	                           
	                           
 </form>                     
	                      </div>   
	                    </div>
	            
	            </div>
	        
	        </div>
	      
	      
	      </div>
	      </div>
	     
	     <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	     
	     <script>
      tinymce.init({
      selector: '#mytextarea'
        	//selector: 'textarea#default'
      });
    </script>
	     
	</section>



	</section>
</body>
</html>