<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/userbase::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>UserDash Board</title>
</head>
<body>
    <section>
	     <div class="container">
	            <div class="card">
	                 <div class="cardbody my-5">
	                      <div class="container text-center">
	         
	                    <img  src="" style="height:200px; width:200px;" class="my_profile_picture" th:src="@{'/img/contact_home.png'}" alt="user photo" />
	  
	           </div>
	           
	           <h1 class="text-center mt-3 text-secondary font-italic font-weight-light">Start Adding.. Contact On Cloud Platform.</h1>
	           
	           <a th:href="@{/user/add-contact}" class="btn btn-primary mt-4 btn-block text-uppercase">Add New Contacts.</a>
	         </div>
	     </div>
	     </div>
	</section>
</body>
</html>