<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Homepage</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
          <h1 class="font-weight-bold">Welcome To Smart Contact Management </h1>
             <p>Smarter way to collect and manage your contacts.</p>
             
             <button type="button" class="btn bg-primary text-white">Get Start</button>
    </div>
    
	</section>
</body>
</html>