<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Loginfail page</title>
</head>
<body>
  <section class="banner-loginfail">
	<div id="loginfail">
        
        <div class="container">
            <div id="loginfail-row" class="row justify-content-center align-items-center">
                <div id="loginfail-column" class="col-md-6">
                    <div id="loginfail-box" class="col-md-12">
                     
                            <h3 class="text-center text-dark">Login Error!! Please Try again</h3>
                            
                            
                            <form id="loginfail-form" class="form" th:action="@{/signin/}">
                            
                            <!--  
                             <div id="register-link" class="text-right">
                                <a th:href="@{/signin/}" href="#" class="text-dark">Login Again</a>
                            </div>
                            
                            -->
                            
                            <div class="form-group">    
                          
                                <input type="submit" name="loginfail" class="btn btn-outline-dark" value="Login Again">
                            </div>
                            
                            
                            <div id="loginfail-emoji" class="text-center">
                            <img th:src="@{/img/loginfailemoji.png}" alt="loginfail" width="100" height="105">
                            </div>
                            
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>